<div id="background">
	
		<img src="image/logo.png" class="hpLogo"/>
		<p class="hpHeader">Lorem İpsum Dolor Sit!</p>
		<p class="hpSlogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 hpInputGroup">
				<div class="col-md-6">
			<input type="text" class="hpInputKeyword form-control input-lg" ng-model="$ctrl.keyword" placeholder="I'm looking for"/>
				</div>
				<div class="col-md-4">
			<input type="text" class="hpInputPlace form-control input-lg" ng-model="$ctrl.location" placeholder="place"/>
				</div>
				<div class="col-md-2">
			<a ng-href="/#!/result?location={{$ctrl.location}}&keyword={{$ctrl.keyword}}" class="hpInputSearch btn btn-danger btn-xs"><img src="image/shape.png"/> </a>
				</div>
			</div>
			
		</div>	
		</div>
</div>
<div class="col-md-5"></div>
<div class="col-md-4">
<div class="hpFooterGroup">

	<a href="#" class="listitem">About Us</a>
	<a href="#" class="listitem">Contact</a>
	<a href="#" class="listitem">Blog</a>

</div>
</div>